* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('background.png');
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    color: #fff;
}

.hero h3{
    margin-top: 15%;
    font-weight: 400;
    font-size: 30px;
    color: #61b752;
}

.hero h1{
    margin-top: 10px;
    font-size: 50px;
}

.hero h1 span{
    color: #61b752;
}

.hero p{
    margin: 10px 0 50px;
    color: #a3a6a2;
}

form{
    background: #fff;
    display: flex;
    width: fit-content;
    margin-bottom: 13px;
}

form input{
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: 50px;
    width: 360px;
    font-size: 16px;
}

form button{
    background: #61b752;
    border: none;
    outline: none;
    height: 50px;
    width: 60px;
    cursor: pointer;
}

.message{
    color: #61b752;
}